client/ClientServicer/ClientServicer/Service References/Restoran_serv/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.2.15.33:8733/Design_Time_Addresses/Exam/KitchenService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exam.Models" />
  <xs:element name="getAllDishes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDishesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Exam.Models" minOccurs="0" name="getAllDishesResult" nillable="true" type="q1:ArrayOfDish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>