client/ClientServicer/ClientServicer/Service References/Restoran_serv/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Exam.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Exam.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDish">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dish" nillable="true" type="tns:Dish" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDish" nillable="true" type="tns:ArrayOfDish" />
  <xs:complexType name="Dish">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dish" nillable="true" type="tns:Dish" />
</xs:schema>